@charset "utf-8";
/* Blog.masholeh.web.id */

body {
	margin:0;
	background-color:#fff;
	
}


#sidebar{
	background-color:#f3f1e7;
	border-radius:5px;
	box-shadow:5px 0px 5px #999;
	border-color:#C4E0AF;
	border-style:solid;
	border-width:thin;	
}

	#sidebar .body {
		margin: 20px 5px 20px 5px;
	}
	
	#sidebar .judul {
		margin:-13px auto 0;
		width:98%;
		height:35px;
		background-color:#96b74b;
		background-repeat:repeat-x;
		border-radius:5px;
	}

	#sidebar .judul h4{
		color:#ffffff;
		text-shadow:0px 0px 5px #666666;
		padding-left:10px;
		padding-top:5px;
	}
	
	#sidebar li{
		list-style-type:none;
		display:block;
		padding-top:8px;
		padding-bottom:8px;
		margin-left:-40px;
		border-bottom:1px solid;
		border-color:#C4E0AF;
		
	}

	#sidebar li a{
		color:#2e776a;
		text-decoration:none;
		padding-left:5px;
	}

	#sidebar li:hover{
		color:#ffffff;
		background-color:#b2df8e;
		padding-left:-80px;
	}
	
